$page-background-color: #f2f2f2;
$menu-background-color: #ffffff;
$menu-shadow-color: #dedede;
$menu-item-active-bgcolor: #2c7dfa;
$menu-item-active-color: #ffffff;
$gutter-space: 1rem;
$viewport-height: 100vh;
$menu-height: 65px;
$info: #61a0ff;
$success: #006400;
$error: #d82020;